
/* Styling for button component */
.button{
    background-color: #dbd4d4;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    border: none;
}

/* hover effect on button */
.button:hover{
    border: 2px solid black ;
}

/* styling for last column of buttons */
.side{
    background-color: orange;
}

/* styling for zero button */
.zero{
    grid-column: 1/3;
}